package views

templ Home(){
        <h1 class="h1UnderHeader">Bienvenido a WebPolls</h1>
        <p style="color: white; text-align: center; grid-column: 1 / -1;">En esta pagina podras administrar tus encuestas y ver que contesta la gente de manera anonima, con tu usuario podras administrar tus encuestas y ver sus resultados.
        
        En este punto ya se esta utilizando HTMLX para hacer las peticiones y mostrar los resultados</p>
}
