package views

templ Home(){
        <h1 class="h1UnderHeader">Bienvenido a WebPolls</h1>
        <p style="color: white; text-align: center; grid-column: 1 / -1;">Crea y gestiona encuestas de forma sencilla.</p>
}
