package components

templ Navigator() {
    <header>
        <nav>
            <div class="nav-container">
                <a href="/" class="logo">
                    <img src="/static/logo.svg" alt="WebPolls Logo"/>
                </a>
                <div class="desktop-menu">
                    <a href="/">Inicio</a>
                    <a href="/users">Usuarios</a>
                    <a href="/polls">Polls</a>
                </div>
            </div>
        </nav>
    </header>
}
