package components

templ Navigator() {
    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/users">Usuarios</a>
            </li>
            <li>
                <a href="/polls">Polls</a>
            </li>
        </ul>
    </nav>
}